#delete {
  height: 100%;
}
#provider {
  margin-top: 5px;
}
#provider:hover {
  background-color: rgb(188, 246, 180);
}
#course {
  margin-top: 5px;
}
#course:hover {
  background-color: rgb(248, 217, 168);
}

#pastRides {
  margin: 5px;
}
#addButton {
  margin-top: 30px;
}
#pageButton {
  display: flex;
  justify-content: flex-end;
}
#input {
  width: 550px;
}
.inputForms {
  display: block;
  border-radius: 5px;
  background-color: #d3e2fd;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  /* width: 100%; */
}
input {
  width: 500px;
}
#myNav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
/*Top navigation Styling */
.nav {
  display: block;
  background-color: #0983d4;
  color: #ffffff;
  list-style: none;
  text-align: center;
  padding: 18px 0 18px 0;
}
.nav > li {
  display: inline-block;
  padding-right: 50px;
  color: #ffffff;
}
/* Used the 'a' tag to represent <Navlink> in the code */
.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}
.nav > li > a:hover {
  color: #ec9f0f;
}
#users {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px black solid;
}
#logoutButton:hover {
  background: red;
}
.createButton {
  margin-top: 40px;
  color: red;
}
#allUsers {
  text-align: center;
  margin-left: auto;
  margin-right: 40px;
  display: block;
}
.nav-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 120px;
}
.option-button {
  margin-top: 50px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}
#loginbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#title {
  text-align: center;
 
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
  margin-top: 25px;
}
#displayButton {
  bottom: 0;
}
#picjpeg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
